a{
    display: block;
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px 50px;
    padding: 5px 50px;
    text-decoration: none;
    color: antiquewhite;
    background-color:red;
  }